@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.left-links,.right-links{
  padding:0%;
}

.content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header{
  padding: 5px;
  display: flex;
  width:auto;
  justify-content: space-between;
}

.footer{
  background-color: #eeeeee;
  padding: 5px;
  display: flex;
  width: auto;
  justify-content: space-between;
}

ul{
  list-style-type: none;
  display: flex;
  width: auto;
  justify-content: space-around;
  gap: 1rem;
}

a{
  text-decoration: none;
}