.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px 8px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 1px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 8px;
  padding: 8px;
  align-items:center;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}