.button-1,
.button-2{
    font-size:28px;
    font-family:"Helvetica","Times New Roman","sans-serif";
}
.button-1{
    background-color:rgba(0, 0, 0, 0.963);
    color:rgba(255, 254, 254, 0.939)
}
.button-2{
    background-color:rgba(225, 240, 4, 0.963);
}